.page {
  background-color: antiquewhite;
  /* min-height: 100svh; */
}
.link {
  background-color: aquamarine;
  font-size: 30px;
  margin: 100px;
  color: black;
}
.link_blue {
  background-color: rgb(128, 145, 243);
  font-size: 30px;
  margin: 100px;
  color: black;
}
